/** Импорт шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

:root {
  --color-primary-light: #252d4a;
  --color-primary: #1a2341;
  --color-primary-dark: #151d38;

  --color-secondary-deep-dark-fantasies: #808080;
  --color-secondary-dark: #bfc8ce;
  --color-secondary: #edf0f1;
  --color-secondary-light: #feffff;

  --color-black: #050505;
  --color-black-light: #0f0f0f;

  --color-grey-light: #282828;
  --color-grey: #232323;
  --color-grey-dark: #191919;

  --color-red: #921c1c;
}

*, *:before, *:after{
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: "Nunito Sans", serif;
}

footer, header, nav, section, main{
  display: block;
}

body{
  font-family: "Gabarito", serif;
  line-height: 1;
}

ol, ul{
  list-style: none;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
  content: '';
  content: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

input{
  -webkit-appearance: none;
  border-radius: 0;
}

h1{
  font-size: 32px;
  font-weight: 700;
}

.router-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: var(--color-grey-dark);
  opacity: 0.8;
  width: 2.5rem;
  height: 2.5rem;

  &:hover {
    background: var(--color-grey-light);
    cursor: pointer;
  }
}